{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyO1hOP5MxV4Cn/xQeOfcLtn"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"2-DCjOiWZXXS"},"outputs":[],"source":["streamlit\n","pandas\n","numpy\n","scikit-learn\n","matplotlib\n","seaborn\n","plotly\n","xgboost\n","catboost\n","gunicorn\n","flask\n","mlflow\n","openpyxl\n","fpdf\n","python-docx\n","pickle\n","Pillow"]}]}